{% extends 'book/base.html.twig' %}

{% block title %}Book: Create{% endblock %}

{% block main %}
{{ include('flash.html.twig') }}
<h1>Create Book</h1>

<form method="post" action="" enctype="multipart/form-data">
    <p>
        <input type="hidden" id="id" name="id" value="0"><br>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" maxlength="255" autofocus required><br>
        <label for="isbn">ISBN:</label><br>
        <input type="text" pattern="[0-9]+" id="isbn" name="isbn" minlength="13" maxlength="13"><br>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" maxlength="255"><br>
        <label for="img">Image:</label><br>
        <input type="file" id="img" name="img" accept="image/jpeg"><br><br>
        <input type="submit" value="Create" 
        onClick="this.form.action='{{ path('book_create_post') }}';">
    </p>
</form>
{% endblock %}
