{% extends 'book/base.html.twig' %}

{% block title %}Book: Libary{% endblock %}

{% block main %}
<h1>Library database</h1>

<p>
    The library contains Book objects stored in a SQLite database using ORM(Object Relational Mapping) to handle CRUD(Create, Read, Update, Delete).
</p>

{% endblock %}
