{% extends "base.html.twig" %}

{% block title %}MVC: Report{% endblock %}

{% block body %}
    <div class="content">
        <div class="column">
            <h1>Report</h1>
            <div class="row">
                <h2 id="Kmom01">Kmom01</h2>
                <p>
                    I detta Komom så har vi börjat skapa en hemsida med PHP och ramverket Symphony. 
                    Vi har lärt oss om att använda terminalen på en Linux distro för att installera en webbserver samt Git för att hantera versionskontroller. 
                    Vidare har vi använt os av node.js för att installera Encore för att hantera dynamiska preprocessor som LESS.
                </p>
                <p>
                    Jag har tidigare kunskaper inom objektorienterad programmering i ett antal olika språk som till exempel c++, java, c# för att nämna några få. 
                    Så det var ingen stor förändring med att börja programmera.
                </p>
                <p>
                    PHP:s modell att hantera klasser och objekt som många av tidigare nämnda programmeringsspråk. 
                    Till den grad att om man utfört objektorienterad programmering tidigare så är det inga problem att hoppa rakt in i det. 
                </p>
                <p>
                    Om man inte har gjort objektorienterad programmering tidigare så behöver man bara förstå att objekt är versioner av klasser men inte själva klassen i sig, på samma sätt som att en bil kan vara en Volvo men en Volvo är inte alla bilar. 
                    Vidare så när man ändrar på variabler i objektet så ändras bara variablerna för det objektet.
                </p>
                <p>
                    Dock hur enkelt jag hade att börja programmera så blev jag inte så nöjd med hur min sida ser ut, då jag stötte på flera problem med själva ramvärksdelen som gjorde att jag behövde om installera ramverket flera gånger. 
                    Detta drog ut på tiden jag hade vilket gjorde att själva stylingen på sidan blev inte den bästa.
                </p>
                <p>
                    Där emot så är själva koden för sidan mycket bättre samt så är det lätt att strukturera filerna till en lättförståelig hierarki i Symphony ramverket. 
                    Då layouten av sidan byggs upp av twig template filer som kallar på resurser i assets mappen. 
                </p>
                <p>
                    Om jag skulle säga en sak som står mest ut i vad jag lärt mig för denna Komom så skulle det vara Sympony i sin helhet då den förenklar byggandet av en webbsida. 
                    Förutsatt att man inte sparar sina filer på Windows utan istället i Linux distron, som var orsaken till det flesta av mina problem.
                </p>  
            </div>
            <div class="row">
                <h2 id="Kmom02">Kmom02</h2>
            </div>
            <div class="row">
                <h2 id="Kmom03">Kmom03</h2>
            </div>
            <div class="row">
                <h2 id="Kmom04">Kmom04</h2>
            </div>
            <div class="row">
                <h2 id="Kmom05">Kmom05</h2>
            </div>
            <div class="row">
                <h2 id="Kmom06">Kmom06</h2>
            </div>
            <div class="row">
                <h2 id="Kmom10">Kmom10</h2>
            </div>
        </div>
    </div>
{% endblock %}